{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Saffa's Books</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
    <link rel="stylesheet" media="screen" type="text/css" href="{% static 'css/books_styles.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/books_scripts.js' %}"></script>
</head>
<header>
    {% include "partials/navbar.html" %}
</header>
<body>
    <h3 id='header'>Literature Corner</h3>
    <br>
    <center>
        <div class='buttons'>
            <button type="button" class="btn btn-outline-primary" id="quilting">Quilting</button>
            <button type="button" class="btn btn-outline-secondary" id="architecture">Architecture</button>
            <button type="button" class="btn btn-outline-success" id="comic">Comic</button>
        </div>
    </center>
    <br>
    <div class='counter-block'>
        <i class='fa fa-adjust'></i> My Favorites: <span class="counter">0</span>
    </div>
    <br>
    <center>
        <table class="table" id='book-table'>
            <tr>
                <thead>
                    <th scope="col">No</th>
                    <th scope="col">Cover</th>
                    <th scope="col">Title</th>
                    <th scope="col">Authors</th>
                    <th scope="col">Published <br></th>
                    <th scope="col">Favorites</th>
                </thead>
            </tr>
            <tbody></tbody>
        </table>
    </center>
</body>
</html>