{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Saffa's Status</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" type="text/css" href="{% static 'css/status_styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/profile_script.js' %}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min. css" rel="stylesheet" /> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js "></script>
</head>
<header>
    {% include "partials/navbar.html" %}
</header>
<body class="class-body" id="id-body">
    <div class="container" id="formtainer">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="center-text" id="hello-text">Hello, Apa kabar?</h1>
            </div>
        </div>
        <div class =row>

            <form id="form" action="{% url 'story6app:index' %}" method="POST">
                {% csrf_token %}
                {% for field in formlist %}
                    {{ field.label_tag }}
                    <br>
                    {{ field }}
                {% endfor %}
                <br>
                <button type="submit" id="submit-button" class="btn btn-progress">Submit</button>
            </form>
            
        </div>
        <div class="container">
            <br>
            {% for result in StatusForm %}
                <div class="col-sm-4" id="result-status">
                    <h5>Date: {{result.time}}</h5>
                    <h5>Status: {{result.status}}</h5>
                </div>
            {% endfor %}
        </div>
    </div>
    <br>    
</body>
</html>