{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Saffa's Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" type="text/css" href="{% static 'css/profile_styles.css' %}">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/profile_script.js' %}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min. css" rel="stylesheet" /> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js "></script>
</head>
<header>
    {% include "partials/navbar.html" %}
</header>
<body onload="myFunction()">
    <div id="loader"></div>
    <div style="display: none;" id="myDiv" class="animate-bottom">
        <h1 id="hello" align="center">hello</h1>
        <h1 id="name" align="center">My name is {{ name }}</h1>
        <center>
        <article align="center" class="description">Currently majoring in {{ major }}</article>
        <article align="center" class="description">{{ univ }}</article>
        <article align="center" class="description">{{ bio }}</article>
        <article align="center" class="description">{{ likes }}<sx/article>
    
        <div>
            <br>
            <img data-toggle="tooltip" title="Ini foto saya" src="https://scontent.fcgk8-1.fna.fbcdn.net/v/t1.0-9/45607155_2729761520370991_1432876187448770560_n.jpg?_nc_cat=108&_nc_eui2=AeHuvU2GaN3IZDCIx3b86gGAn9FNpfMgX5Fzf06wIQMuUE23xg5siERGbKYI7sNjDulxpoyEOiyaDBTdEM9_xE7M_5IaHkeSsDVM6YbmIgTFKg&_nc_ht=scontent.fcgk8-1.fna&oh=85cfc00f274d1bdbbb289ab52211d3ec&oe=5C7C059C" align="center" alt="myphoto"
            id="profile-img">
        </div>
        
        <p align="center" id="acc-description">
            <br>My recent...<br>
        </p>
    
        <div class="accordions">
            <button class="accordion">Activities</button>
            <div class="panel">
                <p class="content">{{ activities }}</p>
            </div>
    
            <button class="accordion">Organizations</button>
            <div class="panel">
                <p class="content">{{ organizations }}</p>
            </div>
    
            <button class="accordion">Achievements</button>
            <div class="panel">
                <p class="content">{{ achievements }}</p>
            </div>
        </div>
        <br>
    </div>
    
</body>
</html>