body{
    background-color:#232223;
}
tbody{
    background-color:#232223;
}
#header{
    text-align: center;
    color:#DBBB5E;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 400%;
    font-style: italic;
    font-weight: bolder;
}

#book-table{
    width: 80%;
}

.counter-block{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#DBBB5E;
    font-weight: bold;
    font-size: 150%;
}

th{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: #DBBB5E;
    font-size: 150%;
    text-align: center;
}

td{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #DBBB5E;
    font-size: 100%;

}
.buttons{
    vertical-align: middle;
}