body{
    background-color:#93ACB5;
    margin: 0;
}
#hello{
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 300%;
    font-style: italic;
    font-weight: bold;
}
#name{
    color: #6C756B ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 180%;
    font-style: italic;
}
.description{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    color: white;
    font-size: 120%;
}

#profile-img{
    width: 300px;
    height:300px;
    border-radius: 50%;
}

#acc-description{
    color:lavender;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
    font-style: italic;
    font-weight: bolder;
}

.accordion{
    vertical-align: middle;
    background-color: slategray;
    color:white;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    text-align: justify;
    outline: none;
    font-size: 15px;
    transition: 0.4s;

}
.panel{
    padding: 0 18px;
    display: none;
    background-color: white;
    width: 50%;
}

.content{
    color: slategray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-size: 15px;
}
#loader{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite; 
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  /* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  

#myDiv{
    display: none;
    text-align: center;
}