#id-body.class-body{
    background-color:#D3CBC1; 
}
#hello-text{
    font-family: 'Georgia', Times, serif;
    font-weight: bolder;
    font-style: oblique;
    font-size: 300%;
    color: #5A8679;
    text-align: center;
    padding-top: 40px;
}
#result-status.col-sm-4{
    margin: auto; 
    padding-left:10px;
    background-color:rosybrown;
    padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
    border-radius:10px;
}

