body{
	background-image: url("https://scontent-sin6-1.xx.fbcdn.net/v/t1.0-9/46521237_2753676037979539_7007799640951095296_o.jpg?_nc_cat=105&_nc_ht=scontent-sin6-1.xx&oh=0ea3e94ca382c4c2b4233604eb5acba0&oe=5CAE80C9");
	background-repeat: no-repeat;
	background-size: cover;
  	min-height: 100%;
}
#subs-button{
	background: whitesmoke;
    color: #5D675B !important;
    display: inline-block;
    font-size: 15px;
	font-weight: 700;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-style: oblique;
    height: 45px;
    line-height: 0.8;
    padding: 15px 35px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    border:0px !important;
    cursor:pointer;
    border-radius:100px;
}

#header{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 300%;
	font-style: italic;
	font-weight: bolder;
	color: #5D675B;
}

#header-description{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 100%;
	font-style: normal;
	font-weight: 500;
	color: #5D675B;
}

#subsform{
	color:#5D675B;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight: 500;
	font-style: italic;
}

#subslist{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 300%;
	font-style: italic;
	font-weight: bolder;
	color: white;
	vertical-align: middle;
}

#unsubs-button{
	background: pink;
    color: #5D675B !important;
    display: inline-block;
    font-size: 15px;
	font-weight: 700;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-style: oblique;
    height: 45px;
    line-height: 0.8;
    padding: 15px 35px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    border:0px !important;
    cursor:pointer;
    border-radius:100px;

}

#subs-table{
	width: 100%;
}

th{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    color: white;
	font-size: 150%;
	text-align: center;
}

td{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 100%;
	text-align: center;
}